/**
 * Copyright 2016 Resurs Bank AB
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/**
 * CHECKOUT
 */
#payment_form_hostedflow img {
    width: auto;
    display: inline;
}

#payment_form_hostedflow h3 {
    margin-bottom: 15px;
}

#payment_methods ul li {
    background: #f4f4f4;
}

#payment_methods ul li input.radio {
    vertical-align: middle;
}

#payment_methods ul li a {
    vertical-align: top;
    float: right;
}


/**
 * PRODUCT PAGE
 */
.product-view .resursbank-hostedflow-part-payment-information {
    margin-top:5px;
}

.product-view .resursbank-hostedflow-part-payment-information .resursbank-logo {
    display:block;
    margin-top:10px;
}




/*  ============================================================
    Hostedflow module.
    ============================================================ */

/*  <p> that couldn't be reached otherwise and needed some space. */
.hostedflow-index-information .main-container .main .col-main p {
    margin-top: 10px;
}

/*  Text above and below the table.
    ------------------------------------------------------------ */
.hostedflow-index-information .headText,
.hostedflow-index-information .tailText {
    display: inline-block;
}

.hostedflow-index-information .headText {
    margin-bottom: 10px;
}

.hostedflow-index-information .tailText {
    margin-top: 10px;
    font-style: italic;
    font-weight: 500;
}

/*  The table.
    ------------------------------------------------------------ */
.hostedflow-index-information table.priceTable {
    width: 100%;
}

.hostedflow-index-information table.priceTable tbody tr td {
    padding: 15px 0px;
}

/*  First column in table. */
.hostedflow-index-information table.priceTable tbody tr td.header {
    padding-left: 15px;
}

.hostedflow-index-information .oddRow {
    background-color: #F4F4F4;
}
