<?php
/**
 * Copyright 2016 Resurs Bank AB
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/** @var string $price */
$price = $this->getSuggestedPartPaymentPrice();

?>

<?php if (!empty($price)): ?>
    <div class="resursbank-hostedflow-part-payment-information">
        <span>
            <?php echo $this->__('Pay in parts for %s months. %s/month.', $this->_getHelper()->getPartPaymentSuggestionDuration(), $price) ?>
            <a href="<?php echo $this->getPartPaymentInformationUrl(); ?>" target="_blank" class="payment-information-link"><?php echo $this->__('Read more') ?></a>
        </span>
        <img src="<?php echo $this->getSkinUrl('resursbank/hostedflow/i/resursbank_logo.png'); ?>" class="resursbank-logo" />
    </div>
<?php endif; ?>
