<?php
/**
 * Copyright 2016 Resurs Bank AB
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/**
 * @TODO We can probably remove $index.
 * @TODO Ask for danish translation files.
 * @TODO Add CSS-file and remove inline styles.
 */

/** @var int $index */
$index = 0;

/** @var array $paymentMethods */
$paymentMethods = $this->getPaymentMethods();

?>

<div class="form-list" id="payment_form_<?php echo $this->getMethodCode(); ?>" style="display: none;">
    <img src="<?php echo $this->getSkinUrl('resursbank/hostedflow/i/resursbank_logo.png'); ?>" />
    <h3>Vælg betalingsmetode</h3>
    <div id="payment_methods">
        <ul>
            <?php if (count($paymentMethods)): ?>
                <?php foreach ($paymentMethods as $paymentMethod): ?>
                    <?php if (is_array($paymentMethod)): ?>
                        <li>
                            <input type="radio" class="radio" id="method_<?php echo $paymentMethod['id']; ?>" name="payment[hostedflow_payment_method_id]" value="<?php echo $paymentMethod['id']; ?>" <?php if ($index++ === 0) { echo 'checked="checked"'; } ?>>
                            <label for="method_<?php echo $paymentMethod['id']; ?>"><?php echo $paymentMethod['description']; ?></label>
                            <?php if ($paymentMethod['legalInfoLinks'][2]['url']): ?>
                                <a target="_blank" href="<?php echo $paymentMethod['legalInfoLinks'][2]['url'] . Mage::getSingleton('checkout/session')->getQuote()->getGrandTotal(); ?>"><?php echo $this->__('Read more') ?> >></a>
                            <?php endif; ?>
                        </li>
                    <?php endif; ?>
                <?php endforeach; ?>
            <?php endif; ?>
        </ul>
    </div>
</div>
<div>
    <?php echo $this->getMethod()->getConfigData('message'); ?>
</div>
