
<tr id="resursbank_hostedflow_row_breaker_<?php echo $this->getElement()->getId() ?>">
    <td colspan="4">
        <div style="border-bottom:1px dashed #c0c0c0; padding-bottom:10px; margin-bottom:10px;" id="<?php echo $this->getElement()->getId() ?>"></div>
    </td>
</tr>
