<?php
/**
 * Copyright 2016 Resurs Bank AB
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/**
 * @var $this Resursbank_Hostedflow_Block_Adminhtml_Sales_Order_View_Info_Payment
 */
?>
<div id="resursbank-checkout-order-view-info">
    <div class="content">
        <?php  // The structure of these divs is intentional to properly support display:inline-block. ?>

        <?php // Payment information. ?>
        <h3><?php echo $this->__('Payment Information') ?></h3>
        <div class="field-group">
            <ul class="fields">
                <?php // Payment ID. ?>
                <li class="field">
                    <div class="field-label">
                        <?php echo $this->__('Payment ID') ?>
                    </div><div class="field-value">
                        <?php echo $this->getPaymentId() ?>
                    </div>
                </li>

                <?php // Payment sum. ?>
                <li class="field">
                    <div class="field-label">
                        <?php echo $this->__('Order Total') ?>
                    </div><div class="field-value">
                        <?php echo $this->getPaymentTotal() ?>
                    </div>
                </li>

                <?php // Payment limit. ?>
                <li class="field">
                    <div class="field-label">
                        <?php echo $this->__('Limit') ?>
                    </div><div class="field-value">
                        <?php echo $this->getPaymentLimit() ?>
                    </div>
                </li>

                <?php // Status. ?>
                <li class="field">
                    <div class="field-label">
                        <?php echo $this->__('Status') ?>
                    </div><div class="field-value">
                        <?php echo $this->getStatus() ?>
                    </div>
                </li>

                <?php // Whether or not its frozen. ?>
                <li class="field">
                    <div class="field-label">
                        <?php echo $this->__('Frozen?') ?>
                    </div><div class="field-value">
                        <?php echo $this->__(($this->isFrozen() ? 'Yes' : 'No')) ?>
                    </div>
                </li>

                <?php // Whether or not its fraud marked. ?>
                <li class="field">
                    <div class="field-label">
                        <?php echo $this->__('Fraud?') ?>
                    </div><div class="field-value">
                        <?php echo $this->__(($this->isFraud() ? 'Yes' : 'No')) ?>
                    </div>
                </li>
            </ul>
        </div>

        <?php // Customer information. ?>
        <div class="field-group field-group-customer">
            <h3><?php echo $this->__('Customer Information') ?></h3>
            <ul class="fields">
                <!-- Customer name. -->
                <li class="field">
                    <div class="field-label">
                        <?php echo $this->__('Name') ?>
                    </div><div class="field-value">
                        <?php echo $this->getCustomerName() ?>
                    </div>
                </li>

                <!-- Customer address. -->
                <li class="field">
                    <div class="field-label">
                        <?php echo $this->__('Address') ?>
                    </div><div class="field-value">
                        <?php echo $this->getCustomerAddress() ?>
                    </div>
                </li>

                <!-- Customer telephone. -->
                <li class="field">
                    <div class="field-label">
                        <?php echo $this->__('Telephone') ?>
                    </div><div class="field-value">
                        <?php echo $this->getCustomerTelephone() ?>
                    </div>
                </li>

                <!-- Customer email. -->
                <li class="field">
                    <div class="field-label">
                        <?php echo $this->__('Email') ?>
                    </div><div class="field-value">
                        <?php echo $this->getCustomerEmail() ?>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
